# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# VS Code
.vscode/

# Windows
Thumbs.db

# files
app/images/ai_route_img.png
app/image/product_img_*.jpg
app/image/store_img_*.jpg

app/ai/매장레이아웃.drawio
compare.ipynb
